
                    </div>
                    </section>
                </div>
                <div class="col-md-1">
                    {{ with .GetParam "next" }}
                    <a class="navigation next" href="{{.}}">
                        <i class="fa fa-angle-right"> </i>
                    </a>
                    {{ end }}
                </div>
              </div>
              <!-- page start-->
          </section>
      </section>
     <!--main content end-->
  </section>
  <!-- container section end -->
    <!-- javascripts -->
    <script src="{{ .Site.BaseUrl }}/js/jquery-1.11.1.min.js"></script>
    <script src="{{ .Site.BaseUrl }}/js/bootstrap.min.js"></script>
    <!--custom script for all page-->
    <script src="{{ .Site.BaseUrl }}/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="{{ .Site.BaseUrl }}/js/scripts.js"></script>
    <script async defer id="github-bjs" src="/windows-on-fridges/js/buttons.js"></script>
    {{ template "partials/analytics.html" . }}
  </body>
</html>
